<!doctype html>
<html>
	<head>
     <meta charset="UTF-8">
        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/script/styleconnexion.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"  href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        <link rel="stylesheet" href="/script/style.css" />
                
      </head>
    <body>
            <h1>Bienvenue sur pIcTuReMe</h1>
            <h3>Partagez vos photos avec vos amis</h3>
           
            <p> 
            </p>

</body>
</html>