<!doctype html>
<html>
	<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="/script/favicon.ico">
        <link rel="stylesheet" href="/script/styleconnexion.css">
        <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
        <link rel="stylesheet"  href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        <link rel="stylesheet" href="/script/style1.css" />
                
      </head>
    <body>
            <h1>pIcTuReMe</h1>
            <h3>Partagez vos photos avec vos amis</h3>

              <div class="container">

               <form class="form" role="form" method="post" action="/accueil" accept-charset="UTF-8" id="login-nav">
                   <h2 class="form-signin-heading">Connectez-vous</h2>
        <label for="inputEmail" class="sr-only">Adresse mail</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Adresse mail" required autofocus name="email">
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required name="password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Se souvenir de moi
          </label>
        </div>
                
            <div class="form-group">
              <input type="submit" class="btn btn-lg btn-primary btn-block" value="Me connecter"></input>
            </div>
     </form>
     <form class="form" role="form" method="get" action="/accueil" accept-charset="UTF-8" id="login-nav">
     <p>Pas de compte? N'attendez pas, rejoignez-nous!</p>
      <a href="/inscription">M'inscrire</a>    

</body>
</html>