<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../../../css/bigtwit.css">
<link rel="stylesheet" href="../../../bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../../../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div id="conteneur">
		<div id="entête" style="opacity: 1; display: inline";>
			<nav class="navbar navbar-default navbar-fixed">
				<div class="container-fluid">
					<div class="navbar-header">PictureMe</div>
					<span><img alt="" src="../../../images/bt.jpg" /> </span>
					<div class="pull-right">
						<img alt="" src="../../../images/user-blue_25325.png" /> <a
							href="/" class="btn btn-primary" role="button">Se déconnecter
							<span class="glyphicon glyphicon-log-out"></span>
						</a>
					</div>
				</div>
			</nav>
			<span><h3>Ma photo</h3></span>
		</div>
	</div>


    <br/>
    <br/>
     <div class="col-md-4">
   				 <div class="pull-left">
									
                 <tr>
                    <th class="description" width="1550px"><%=data[0].description%></th><br/>
                    <th class="photo_url" width="1350px"><%=data[0].photo_url%></th>
                </tr>
            
        </div>
		        </div>

			



</body>
</html>